{% extends 'main_theme.html' %}

{% block main %}
    <h1 style="text-align: center;" >Profile Page</h1>
    <hr>
    <h3 style="text-align: center;" >Introduction</h3>
    <p class="card text-white bg-dark mb-2" style="width: 60rem;margin:0 auto;" > Hello everyone my name is Vicente Ramos and this will be my third year at UNC. 
        I graduated from Aims in 2018 with a Business Administration degree and I wanted to continue my education which is why decided to come to UNC. 
        Prior to coming to here I didn't know which area of business I wanted to get into. 
        But after doing some research I decided to settle for CIS because it looked like a well rounded degree that offers flexibility upon graduation. 
        I also have a minor in computer science just because I wanted to learn more programming languages other than C#. </p>

{% endblock main %}
