{% extends 'main_theme.html' %}

{% block main %}
<h1 style="text-align: center;">Projects</h1>

  <div class="card text-center" style="width: 60rem;margin:0 auto;">
    <h5 style="text-align: center;">These are some of the projects that I've have built over the last couple of years.
      For further analysis check out the project link and code to Github. Other projects that are not actually
      a website will just include links to Github. </h5>
  </div>

<div class="row">
  <div class="col-sm-8" style="width: 60rem;margin:0 auto;">
    <div class="card" >
      <h5 class="card-header">Django Website</h5>
      <div class="card-body">
        <h5 class="card-title">Summary:</h5>
        <p class="card-text">For this project I built a Django website with several apps that allows the user
          visiting the site to interact with these apps. Some of the features in the site
          inlcude a News Blog, Workshop and User Log In. This website shows in depth the use of the many features
          available with the Django Web Framework.
        </p>
        <h6 class="card-title">Languages Used: <strong>Django, Python, HTML and CSS</strong></h6>
        <a href="https://ramosv.pythonanywhere.com" class="btn btn-primary">View Project</a>
        <a href="https://github.com/ramosv/BACS-350/tree/master/Superheros" class="btn btn-warning">View Code <svg
            xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg></a>
      </div>
    </div>
    <div class="card ">
      <h5 class="card-header">Ecommerce Website</h5>
      <div class="card-body">
        <h5 class="card-title">Summary:</h5>
        <p class="card-text">This was a team project were myself and 3 other people built a Ecommerce website
          that specialized in selling shoes. Some of the more interesting features of this project is that we user
          cookies to keep track of users who do not have an account with us and the use of a PayPal API to handle
          payments.
          To fully appraciate this website please check out the link below.
        </p>
        <h6 class="card-title">Languages Used: <strong>Django, Python, HTML and CSS</strong></h6>
        <a href="https://eshopping.pythonanywhere.com/" class="btn btn-primary">View Project</a>
        <a href="https://github.com/Eshop-project/CS-350" class="btn btn-warning">View Code <svg
            xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg></a>
      </div>
    </div>
    <div class="card ">
      <h5 class="card-header">PHP Website</h5>
      <div class="card-body">
        <h5 class="card-title">Summary:</h5>
        <p class="card-text">In this project I built a simple website that demonstrates CRUD(Create, Read, Update and
          Delete)
          operations using PHP. It allows the user to create an account, make notes on the website and view other people
          who
          have created an account on the website. The purpose of this project was to get my feet wet using PHP, I
          previously had
          this website hosted online using BlueHost but I longer pay for this service since I don't get the student
          discout. All
          of the code is availble below and I am working on hosting this site at a free hosting site soon.
        </p>
        <h6 class="card-title">Languages Used: <strong>PHP, HTML and CSS</strong></h6>
        <a href="https://github.com/ramosv/PHP-Website" class="btn btn-warning">View Code <svg
            xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg></a>
      </div>
    </div>
    <div class="card ">
      <h5 class="card-header">Grade Management System</h5>
      <div class="card-body">
        <h5 class="card-title">Summary:</h5>
        <p class="card-text">As a final project for my Java class I built a Grade Management System that allows the user
          to create courses, add students to those courses and assign them grades. The also wrote analytics portion that
          will
          calculate the highest/lowest grade in the class as well as the average. Check out my code in Github.
        </p>
        <h6 class="card-title">Languages Used: <strong>Java</strong></h6>
        <a href="https://github.com/ramosv/Grade-Management-System" class="btn btn-warning">View Code <svg
            xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg></a>
      </div>
    </div>
    <div class="card ">
      <h5 class="card-header">Algorithms and Data Structures</h5>
      <div class="card-body">
        <h5 class="card-title">Summary:</h5>
        <p class="card-text">This is a collection of the projects that I had to do for my Algorithms and data structures
          class.
          These project include: Anagrams, reading/writting CSV files, Lists, Dictionaries, Linked Lists, Double Linked
          Lists,
          Stacks, Queues, Deques, Polish notation, Recursive Binary Search, Hash Lists, Trees, Graphs and Sorting
          Algorights.
        </p>
        <h6 class="card-title">Languages Used: <strong>Python</strong></h6>
        <a href="https://github.com/ramosv/Algorithms-and-Data-Structures" class="btn btn-warning">View Code <svg
            xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg></a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}